:root {
  --fg: hsl(120, 3%, 70%);
  --bg: hsl(120, 3%, 25%);
  --link: hsl(120, 20%, 65%);
}
body {
  color: var(--fg);
  background: var(--bg);
  padding-right: max(2em, 5vw);
  padding-left: max(2em, 5vw);
  padding-top: 1em;
  padding-bottom: 1em;
}
h1, h2, h3 {
  font-size: x-large;
  text-align: center;
}
h1 {
  font-size: x-large;
}
h2 {
  font-size: large;
}
h3 {
  font-size: medium;
}
a {
  color: var(--link);
}
a:hover {
  color: var(--bg);
  background: var(--link);
}
p {
  text-indent: 1em;
}
p > code {
  display: inline;
}
nav {
  text-align: right;
}
nav::before {
  content: "[ ";
}
nav::after {
  content: " ]";
}

dl.toc > dt {
  color: hsl(40, 33%, 70%);
}
dl.toc > dd {
  margin-left: 1em;
}
dl.toc > dd > ul {
  margin-left: 1em;
  padding-left: 0;
}
dl.toc > dd > ul > li {
  padding-left: 0;
}

div.svg-wrapper {
  background: white;
  width: 100%;
  overflow: auto;
}
div.svg-wrapper object.fit {
  width: 100%;
}
div.img-wrapper {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  overflow: auto;
}
div.tweet-wrapper {
  border: solid 1px hsl(60, 100%, 30%);
  border-left-width: 6px;
  border-radius: 1em;
  padding-left: 1em;
}

p.former {
  margin-bottom: 0;
}
ul.mid {
  margin: 0;
  padding-left: 3em;
}
p.latter {
  margin-top: 0;
  text-indent: 0;
}
